<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><!--@blogEngine:title--></title>
  <meta name="description" content="<!--@blogEngine:description-->" />

  <link rel="stylesheet" href="./reset.css" />
  <link rel="stylesheet" href="./highlight-default.min.css" />
  <link rel="stylesheet" href="./style.css" />
  <script src="./main.js" defer></script>
  <!-- <script src="highlight.min.js" defer></script> -->
</head>

<body class="blogEngine">
  <div class="leftRight">
    <div class="menu"><!--@blogEngine:toc--></div>
    <div class="content">
      <div class="header-img"></div>
      <div class="header"><!--@blogEngine:title--></div>
      <div class="papers"><!--@blogEngine:last_5--></div>
    </div>
  </div>

  <div class="contacts">
    <span>email: xxx@xx.xx</span>
  </div>
</body>

</html>