<div class="paper-item" id="{@blogEngine:GEN_page.link}">
    <div class="paper-item-content">
        <div class="paper-text">{@blogEngine:GEN_page.meta.title}</div>
        <div class="paper-text">{@blogEngine:GEN_page.meta.date}</div>
        <img class="short-image" src='{@blogEngine:GEN_page.meta.firstImageSrc}'/>
        <div class="paper-text">{@blogEngine:GEN_page.meta.description}</div>
    </div>
    <div class="paper-link">
        <a class="button-link" href="{@blogEngine:GEN_page.link}">Читать дальше</a>
    </div>
</div>