<div class="paper-item" id="{@blogEngine:GEN_page.link}">
    <div class="paper-item-header">
        <h2 class="paper-text paper-header">{@blogEngine:GEN_page.meta.title}</h2>
        <div class="paper-text paper-date">{@blogEngine:GEN_page.meta.date}</div>
    </div>
    <div class="paper-item-content">
        <img class="short-image" src='{@blogEngine:GEN_page.meta.firstImageSrc}'/>
        <div class="paper-text">{@blogEngine:GEN_page.meta.description}</div>
    </div>
    <div class="paper-link">
        <a class="button-link" href="{@blogEngine:GEN_page.link}">Читать дальше >></a>
    </div>
</div>