<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.6"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{@blogEngine:GEN_page.meta.title}</title>
    <meta name="description" content="{@blogEngine:GEN_page.meta.description}"/>

    <link rel="icon" href="../../../assets/favicon.svg?v={@blogEngine:version}" type="image/svg+xml"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Literata:opsz,wght@7..72,400;7..72,600;7..72,700&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="../../../reset.css?v={@blogEngine:version}"/>
    <link rel="stylesheet" href="../../../highlight-default.min.css?v={@blogEngine:version}"/>
    <link rel="stylesheet" href="../../../style.css?v={@blogEngine:version}"/>

    <!--<script src="../../../highlight.min.js" defer></script>-->
    <script src="../../../main.js?v={@blogEngine:version}" defer></script>

    {@blogEngine:ad.adHeadHtml}
</head>

<body class="blogEngine">

<div class="layout">
    <div class="content">
        <div class="header-background">
            <img src="../../../assets/background-original.jpg?v={@blogEngine:version}" alt="" class="header-background_image"/>
        </div>

        <div class="header-title">
            <a class="home-link" href="/">← My <s>Class</s> Blog</a>
        </div>

        <div class="papers">
            <div class="paper-item paper-item__full">
                <div class="paper-text">
                    {@blogEngine:GEN_page.pageContentHtml}
                </div>
            </div>

            <div class="paper-item ad">
                {@blogEngine:ad.adBlockHtml}
            </div>
        </div>
    </div>

    <div class="footer">{@blogEngine:footerHtml}</div>
</div>

{@blogEngine:metricaHtml}

</body>
</html>