<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.7"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{@blogEngine:GEN_page.meta.title}</title>
    <meta name="description" content="{@blogEngine:GEN_page.meta.description}"/>

    <link rel="stylesheet" href="../../../reset.css"/>
    <link rel="stylesheet" href="../../../highlight-default.min.css"/>
    <link rel="stylesheet" href="../../../style.css"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!--<script src="../../../highlight.min.js" defer></script>-->
    <script src="../../../main.js" defer></script>

    {@blogEngine:ad.adHeadHtml}
</head>

<body class="blogEngine">

<div class="layout">
    <div class="content">
        <div class="header-background">
            <img src="../../../assets/background-original.jpg" class="header-background_image"/>
        </div>

        <div class="header-title">
            <a class="home-link" href="/">
                <p class="header-title"> &#8701; My <s>Class</s> Blog</p>
            </a>
        </div>

        <div class="papers">
            <div class="paper-item">
                <div class="paper-text">
                    {@blogEngine:GEN_page.pageContentHtml}
                </div>
            </div>

            <div class="paper-item ad">
                {@blogEngine:ad.adBlockHtml}
            </div>
        </div>
    </div>

    <div class="footer">{@blogEngine:footerHtml}</div>
</div>

</body>
</html>