<article class="paper-item" id="{@blogEngine:GEN_page.link}">
    <div class="paper-item-header">
        <h2 class="paper-header">{@blogEngine:GEN_page.meta.title}</h2>
        <time class="paper-date">{@blogEngine:GEN_page.meta.date}</time>
    </div>
    <div class="paper-item-content">
        <img class="short-image" src='{@blogEngine:GEN_page.meta.firstImageSrc}' alt=""/>
        <div class="paper-text">{@blogEngine:GEN_page.meta.description}</div>
    </div>
    <div class="paper-link">
        <a class="button-link" href="{@blogEngine:GEN_page.link}">Читать дальше →</a>
    </div>
</article>