<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><!--@blogEngine:page_title--></title>
  <meta name="description" content="<!--@blogEngine:page_description-->" />

  <link rel="stylesheet" href="../../../reset.css" />
  <link rel="stylesheet" href="../../../highlight-default.min.css" />
  <link rel="stylesheet" href="../../../style.css" />
  <script src="../../../main.js" defer></script>

  <!-- Yandex.RTB -->
  <script>
    window.yaContextCb = window.yaContextCb || [];
    window.yaContextCb.push(() => {
      window.Ya.Context.AdvManager.render({
        blockId: "<!--@blogEngine:ad_blockId-->",
        renderTo: "<!--@blogEngine:ad_renderTo-->",
      });
    });
  </script>
  <script src="https://yandex.ru/ads/system/context.js" async></script>
</head>

<body class="blogEngine">
  <div class="content">
    <!--@blogEngine:page_html-->
  </div>
  <div class="ad">
    <!-- Yandex.RTB -->
    <div class="opa-ads_yandex" id="<!--@blogEngine:ad_blockId-->">
      <!--@blogEngine:ad_description-->
    </div>
  </div>
</body>

</html>