* {
    --debug-border: 0px;
    /*--debug-border: 6px;*/
    /*border: 1px red solid;*/
}

.blogEngine {
    /*--menu-width: 10vw;*/
    --menu-width: 0;
    background: #f3b86d;
    overflow-y: scroll;

    font-family: 'Roboto', sans-serif;
}

.blogEngine .layout {
    min-height: calc(100vh - var(--debug-border));
    display: grid;
    grid-template-columns: var(--menu-width) auto;
    grid-template-rows: auto 100px;
    /*grid-template-areas:*/
    /*      "menu content"*/
    /*      "menu footer";*/
    grid-template-areas:
          "content content"
          "footer footer";
}

/* -----HEADER----- */

.blogEngine .header-title {
    color: white;
    padding: 40px;
    font-size: 50px;
    font-weight: 700;
}

.blogEngine .header-title a {
    color: white;
    text-decoration: none;
}

.blogEngine .header-subtitle {
    color: white;
    background-color: rgba(80, 126, 244, 0.5);
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
}

.blogEngine .header-background {
    height: 600px;
    left: var(--menu-width);
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 100%;
}

.blogEngine .header-background .header-background_image {
    /*background: url("assets/background.jpg") no-repeat;*/
    /*background-image: url("assets/background.jpg");*/
    width: 100%;
    height: auto;
}

/* -----CONTENT----- */

.blogEngine .content {
    grid-area: content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogEngine .content .ad {
    margin: 20px;
}

.blogEngine .content .papers {
    padding: 10px 0;
    width: 100%;
}

.blogEngine .content .papers .paper-item {
    padding: 20px;
    margin: 30px 100px;
    background-color: rgb(250, 250, 249);
}

.blogEngine .content .papers .paper-item.paper-item__hidden {
    display: none;
}

.blogEngine .content .papers .paper-item .paper-link {
    margin: 10px;
    text-align: end;
}

.blogEngine .search {
    margin: 20px;
    width: 500px;
}

/* -----FOOTER----- */

.blogEngine .footer {
    grid-area: footer;
}

.blogEngine .contacts {
    background-color: rgb(3, 3, 36);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.blogEngine .contacts a {
    color: antiquewhite;
}

/* -----MENU----- */

.blogEngine .menu {
    grid-area: menu;

    background-color: rgba(209, 209, 248, 0.7);
    width: var(--menu-width);
}

/* -----COMMON----- */

.button-link {
    color: #f6ac06;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease
}

.button-link:hover {
    background-color: rgba(246, 172, 6, 0.2);
    cursor: pointer;
}

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.search-input:focus {
    background-color: #f0f0f0;
}

/* -----MARKDOWN_MODIFICATION----- */

.blogImage_container {
    display: flex;
    justify-content: center;
}

.paper-text {
    color: #626262;
    font-family: "Roboto", sans-serif;
    /*font-feature-settings: normal;*/
    /*font-kerning: auto;*/
    /*font-optical-sizing: auto;*/
    /*font-size-adjust: none;*/
    /*font-stretch: 100%;*/
    /*font-style: normal;*/
    /*font-variant-alternates: normal;*/
    /*font-variant-caps: normal;*/
    /*font-variant-east-asian: normal;*/
    /*font-variant-emoji: normal;*/
    /*font-variant-ligatures: normal;*/
    /*font-variant-numeric: normal;*/
    /*font-variant-position: normal;*/
    /*font-variation-settings: normal;*/
    font-weight: 400
}

.paper-text p {
    line-height: 24px;
    color: rgb(136, 136, 136);
    text-align: justify;
}

.paper-text blockquote {
    border-left: 4px solid #9898af;
    padding-left: 4px;
}

.paper-text blockquote > p {
    color: rgb(96, 96, 96, 0.6);
}

.paper-text a {
    color: rgb(226, 135, 16);
    text-decoration-color: rgb(226, 135, 16);
}

.paper-text > * + * {
    margin: 15px 0;
}

.paper-item > .paper-item-content {
    display: flex;
    gap: 10px;
}

.paper-item > .paper-item-content > .short-image {
    max-height: 200px;
    max-width: 200px;
    width: 100%;
}

.paper-item > .paper-item-content > .paper-text {
    text-align: justify;
}

.paper-item > .paper-item-header > .paper-header {
    font-weight: bold;
    padding-bottom: 15px;
}

.paper-item > .paper-item-header > .paper-date {
    color: rgb(136, 136, 136);
    padding-bottom: 10px;
}

@media (max-width: 600px) {
    .paper-item > .paper-item-content {
        display: flex;
        flex-direction: column;
    }

    .paper-item > .paper-item-content > .short-image {
        max-width: 100%;
    }

    .blogEngine .content .papers .paper-item {
        margin: 30px 20px;
    }
}